body{
	background: url(Images/QLGalerie/ovabackgroundmanga.jpg) 0 0 fixed no-repeat;
	background-size: cover;
}




iframe { border: 0; overflow: auto; width: 100%; }

/*On entre dnas le corps de la page*/


#conteneur{
	width: 972px;
  height: auto;
margin:0 auto;

}

table.haut{
    background-color:rgb(255, 255, 255); opacity:0.5;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 10px;
    height:20px;
    width:auto;
    font-size:28px;
    font-family:arial;
    font-weight: bold;


}

table.haut td{
    color:black;
    opacity:100%;
}

header{
	margin-top:230px;
	height: 450px;
	width:100%;
background-image: url("Images/QLGalerie/ovaheadermangas.jpg");
background-size:cover;

}


section{
	background-color:white;
	height: 3800px;
	width:100%;
    font-family: arial;
}

section p{
    margin-left: 30px;

}


table.barre{
    height:20px;
    width:100%;
    background:#990000;
}
table.barre:hover{
    background:#b30000;
}

div.listemangas{
    margin-left:50px;
}


div.listemangas img{
    height: 42%;
    width:42%;
    padding:3%;
}


div.listemangas img:hover{
    border: 1px solid #777;
}

footer {
	text-align:center; clear:both; padding:15px 0;
	font:12px/18px Arial, Helvetica, sans-serif;


  display: block;

  height: 20px;
  background-color:#990000;
  width: 972px;
  margin:0 auto;
  position: relative;
}
